# ==========================================
# Caches e Arquivos Compilados do Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Ambientes Virtuais (Essencial)
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# Arquivos Gerados pelo seu Software (Saídas)
# ==========================================
*.mid
*.midi
*.wav
*.mp3
*.ogg
*.txt

# ==========================================
# SoundFonts (Arquivos muito pesados)
# ==========================================
*.sf2
*.dls
*.pdf

# ==========================================
# Configurações de IDEs e OS
# ==========================================
.vscode/
.idea/
__pycache__/
.DS_Store
Thumbs.db
AGENTS.md
